
header{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.image{
    
    height: 30px;
    width: 100px;


}
.search{
    justify-content: flex-end;
}

.image2
{
    height: 70px;
    width: 260px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;

}