.App {
  text-align: center;
}
/*.img{
  height: 30px;
  width: 20px;
}
*/
.app-main{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.discount{
width: 90%;
align-items: center;
margin-left: auto;
margin-right: auto;

}

.cardd{
  display: flex;
  justify-content: space-around;
}

